.container-12{
    background-image: url(../Img/lobby.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 500px;
    padding-top: 100px;
}
.container-14{
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: justify;
}

.container-14 p{
    font-size: 14px;
    padding-right: 100px;
}

.container-14 .btn{
    width: 610px;
    background-color: #8f610d;
    color: white;
}

@media screen and (max-width: 480px){
    .container-14 button{
        width: 400px;
        background-color: #8f610d;
        color: white;
    }
}