.container-9 {
    margin-top: 100px;
    background-color: black;
    color: white;
    padding-top: 50px;
}

.container-9 h3{
    padding-bottom: 30px;
}

.container-9 a{
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    cursor: pointer;
}
.container-9 p{
    /* text-align: justify; */
    color: gray;
}

.container-9 li:hover{
    color: #cc8c18;
}
.container-9 li{
    padding-bottom: 10px ;
}

@media screen and (max-width: 480px){
    .container-9 ul{
        padding-left: 20px;
    }
}