@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;   
}

.container-1 img{
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar{
    background-color: #cc8c18;
    color: white;
}

.navbar a{
    color: white;
}
.navbar a:hover{
    color: black;
    transition: 0.5s;
}
@media screen and (max-width: 480px){
    .container-1 img{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}